/* plan.css */

.plan-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.map-section {
    flex: 1;
    height: 100%;
    background-color: #f1f1f1;
}

#map {
    width: 100%;
    height: 100%;
}

.plan-container {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #ffffff;
}

.ex {
    max-width: 800px;  /* 또는 원하는 너비 */
    margin: 0 auto;    /* 가운데 정렬 */
    padding: 20px;     /* 내부 여백 */
}

.plan-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

.plan-item {
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    margin-bottom: 15px;
}

.plan-item h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #444444;
}

.plan-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #666666;
}

.plan-container::-webkit-scrollbar {
    width: 8px;
}

/*.plan-container::-webkit-scrollbar-thumb {*/
/*    background-color: #cccccc;*/
/*    border-radius: 4px;*/
/*}*/

.plan-container::-webkit-scrollbar-track {
    background-color: #ffffff;
}
