/* 전체 컨테이너 스타일 */
.tbti-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    text-align: center;
    color: #333;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 50px 20px;
}

/* 배너 이미지 스타일 */
.banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.banner img {
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.banner:hover img {
    opacity: 0.8;
}

/* 콘텐츠 영역 */
.content-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* 제목 스타일 */
.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* 제목 가운데 정렬 */
}

/* 설명 텍스트 스타일 */
/* 설명 텍스트 스타일 */
.tbti_description {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000000;
    text-align: center; /* 텍스트 가로 가운데 정렬 */
    display: flex; /* 플렉스 컨테이너로 설정 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
    height: 100%; /* 컨테이너 높이에 따라 동작 */
    line-height: 1.5; /* 텍스트 줄 간격 */
}


/* 시작 버튼 컨테이너 */
.start-button-container {
    margin-top: 20px;
    display: flex; /* 버튼을 가로로 정렬 */
    justify-content: center; /* 버튼을 가운데 정렬 */
    gap: 15px; /* 버튼 간 간격 추가 */
}

/* 버튼 스타일 */
.start-button{
    display: flex; /* 버튼 내부 요소를 정렬하기 위해 flexbox 사용 */
    flex-direction: column; /* 내부 요소를 세로로 정렬 */
    align-items: center; /* 이미지와 텍스트를 가운데 정렬 */
    justify-content: center; /* 이미지와F 텍스트를 수직 가운데 정렬 */
    background-color: #cf96e6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px;
    text-align: center; /* 텍스트 가운데 정렬 */
    width: 40%;
}

.start-button:hover{
    background-color: #995eb5;
}


/* 버튼 내부 이미지 */
.start-button img{
    margin-bottom: 10px; /* 이미지와 텍스트 사이 간격 */
}


/* 질문 버튼 스타일 */
.question-button {
    background-color: #d1e8ff;
    color: #333;
    margin: 20px;
}

.question-button:hover {
    background-color: #86c5f4;
}

.result-container {
    display: block; /* 또는 적절한 display 속성 */
    visibility: visible;
}


/* 결과 화면 텍스트 스타일 */
.result-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.login-warning {
    color: #ff4d4f;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 100px auto;
    padding: 10px 20px;
    border: 1px solid #ff4d4f;
    border-radius: 8px;
    background-color: #fff5f5;
    max-width: 500px;
}

