.detailPage {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.detailPage .div {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    max-width: 1440px;
}


.detailPage .Imgex {
    background-size: cover; /* 이미지 비율 유지 */
    height: 500px;
    left: 136px;
    position: absolute;
    top: 240px;
    width: 500px;
    overflow: hidden;
    border: 2px solid black;
}

.detailPage .overlap-wrapper {
    height: 60px;
    position: absolute; /* 절대 위치로 변경 */
    top: 421px;
    left: 182px;
    width: 139px;
}

.detailPage .overlap-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailPage .overlap-2 img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.detailPage .text-wrapper-2 {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 255);
    border-radius: 30px;
}

.detailPage .arrow-button{
    background-color: rgba(255, 255, 255, 255);
    border: none;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    height: 35px;
}

.detailPage .arrow-button:hover {
    background-color: #818181b2;
}

.detailPage .overlap-group-wrapper {
    height: 50px;
    position: relative;
    top: 141px;
    left: 124px;
    width: 100%;
}

.detailPage .overlap-group-2 {
    display: flex;
    align-items: center;
    height: 50px;
    width: 600px;
}

.detailPage .arrow {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.detailPage .text-wrapper-3 {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    line-height: 24.7px;
}

.detailPage .text-wrapper-4 {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 239px;
    left: 686px;
}

.detailPage .description_box {
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    overflow: hidden;

}

.detailPage .description.show-less {
    max-height: none;
    padding-bottom: 1em;
}

.detailPage .show-more-button {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    padding: 5px 10px;
}

.detailPage .link {
    height: 41px;
    position: absolute;
    top: 229px;
    left: 1257px;
    width: 41px;
}

.detailPage .element-https {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 310px;
    left: 709px;
    line-height: 60px;
}

.detailPage .review{
    height:124px;
    left:136px;
    position:absolute;
    top:777px;
    width:1169px;
    border: 1px solid;
    border-radius: 20px;
}

.detailPage .reviewContent{
    font-size: 24px;
    font-weight:400;
    left: 249px;
    letter-spacing: 0;
    line-height: 60px;
    position: absolute;
    top: 19px;

}

/*LocalSearch.js*/
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 50px;
    padding-bottom: 100px;
}

.search-result-text {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.container .area {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 1296px;
}

.container .category {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    gap: 10px;
}

.container .cate {
    align-items: center;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    border: 1px solid;
    border-color: #F1F1F3;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.container .cate:hover {
    background-color: #c9c9c9; /* 회색으로 변경 */
}

.container .heading {
    align-self: stretch;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 60px;
    margin-top: -1px;
    position: relative;
}

.container .paragraph {
    align-self: stretch;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    position: relative;
}

.group {
    height: 100%;
    position: relative;
    width: 1296px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    align-items: center;
    border: 2px solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    height: 531px;
    left: 0;
    padding: 21.73px;
    position: relative; /* 위치를 relative로 수정 */
    top: 50px;
    width: 422px;
}

.image_box {
    align-items: flex-start;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 422px; /* position: absolute; 제거 */
}

.name {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* 이미지 박스 아래로 밀어내기 위해 추가 */
}

.storename {
    font-size: 25px;
    font-weight: 700;
    height: 25px;
    letter-spacing: 1px;
    line-height: 24.7px;
    white-space: nowrap;
}

.store {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25.9px;
    width: 364px;
}

.pagination {
    margin-top: 80px;
    text-align: center;
}

.pagination button {
    border: none;
    background-color: #ddd;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination button:hover {
    background-color: #bbb;
}

.no-results {
    font-size: 40px;
    font-weight: bold;

}
