/* 기본 설정 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* 전체 높이 사용 */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 최소 높이를 100vh로 설정 */
  margin: 0;
}

/* 메인 콘텐츠를 감싸는 요소 */
main {
  flex: 1; /* 가능한 공간을 차지하도록 설정 */
}

/* header 스타일 */
/*header {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 115px;*/
/*  width: 100%;*/
/*  max-width: 1220px; !* 너비 제한 *!*/
/*  margin: 0 auto; !* 중앙 정렬 *!*/
/*}*/

/* footer 스타일 */
/*footer {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 115px;*/
/*  width: 100%;*/
/*  position: fixed; !* 화면 하단에 고정 *!*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  padding: 20px 0;*/
/*  z-index: 10;*/
/*  background-color: #ffffff; !* 배경색 추가 *!*/
/*}*/
